<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Welcome to Promozaar
      </p>
    </div>
    <div class="row">
      <p>
      </p>
    </div>
  </div>

</section>
