<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>Envios disponibles</h1>
  </div>
  <!-- The message form -->
  <div class="row">
    <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="vm.sendMessage();">
      <fieldset class="row">
        <div class="input-group">
          <input type="text" id="messageText" name="messageText" class="form-control" ng-model="vm.messageText" placeholder="Publicar Envio" autofocus>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-disabled="!vm.messageText.length">Submit</button>
          </span>
        </div>
      </fieldset>
    </form>

  </div>

  <div class="row" ng-repeat="message in vm.messages">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://image.freepik.com/foto-gratis/paquete-enviar_1101-35.jpg" alt="...">
        <div class="caption">
          <h3 ng-bind="message.text"></h3>
          <p ng-bind="message.created | date:'mediumTime'"></p>
          <p>Publicado Por {{message.username}}</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Tomar Envio</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
